.frame {
  width: 364px;
  height: 582px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}

.frame-backplate {
  top: 0px;
  left: 0px;
  width: 364px;
  height: 582px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: #17171c;
}

.row-1 {
  top: 485px;
}

.row-2 {
  top: 397px;
}

.row-3 {
  top: 309px;
}

.row-4 {
  top: 221px;
}

.row-5 {
  top: 133px;
}

.col-1 {
  left: 20px;
}

.col-2 {
  left: 105px;
}

.col-3 {
  left: 190px;
}

.col-4 {
  left: 275px;
}

.button {
  height: 72px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 24px;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.button:hover {
  cursor: pointer;
}

.button-1 {
  width: 69px;
}

.button-2 {
  width: 153.33px;
}

.button-3 {
  width: 238.33px;
}

.gray {
  background-color: #2e2f38;
}

.gray:hover {
  background-color: #4e505f;
}

.blue {
  background-color: #4b5efc;
}

.blue:hover {
  background-color: #74a4fc;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.button-b-text {
  top: 14px;
  left: 13px;
  width: 33px;
  height: 32px;
}

.text-result {
  position: absolute;
  top: 21px;
  right: 20px;
  width: 324px;
  font-size: 96px;
  font-weight: 300;
  font-family: Work Sans;
  font-style: normal;
  color: #ffffff;
  align-items: right;
  text-align: right;
}
