.frame {
  width: 360px;
  height: 550px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}

.frame-backplate {
  top: 0px;
  left: 0px;
  width: 360px;
  height: 550px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: #17171c;
}

.row-1 {
  top: 460px;
}

.row-2 {
  top: 380px;
}

.row-3 {
  top: 300px;
}

.row-4 {
  top: 220px;
}

.row-5 {
  top: 140px;
}

.col-1 {
  left: 30px;
}

.col-2 {
  left: 110px;
}

.col-3 {
  left: 190px;
}

.col-4 {
  left: 270px;
}

.button {
  height: 60px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 24px;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.button:hover {
  cursor: pointer;
}

.button-1 {
  width: 60px;
}

.button-2 {
  width: 140px;
}

.button-3 {
  width: 220px;
}

.gray {
  background-color: #2e2f38;
}

.gray:hover {
  background-color: #4e505f;
}

.blue {
  background-color: #4b5efc;
}

.blue:hover {
  background-color: #74a4fc;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.button-b-text {
  top: 14px;
  left: 13px;
  width: 33px;
  height: 32px;
}

.text-result {
  width: 324px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 96px;
  line-height: 96px;
  /* identical to box height, or 100% */
  display: flex;
  align-items: right;
  text-align: right;
  /* Inside auto layout  margin: 30px 0px; */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
