.frame {
    width: 476px;
    margin: auto;
    background-color: #E5E5E5;
    padding-top: 13px;
    padding-bottom: 13px;
}

.list {
    margin-left: 8px;
    margin-right: 8px;
}

.header {
    margin: 0px;
    padding-top: 12px;
    height: 21px;
    text-align: left;
    font: Roboto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #000000;
}

.container {
    margin-top: 8px;
    width: 100%;
    min-height: 45px;
    background: #FFFFFF;
    border: 1px solid #989898;
    box-sizing: border-box;
    border-radius: 6px;
}

.input {
    width: calc(100% - 108px);
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #989898;
    box-sizing: border-box;
    border-radius: 6px;
    border: none;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    padding-left: 12px;
    padding-right: 36px;
}

.input::placeholder {
    height: 21px;
}

button[type="summit"] {
    position: static;
    margin-right: 12px;

    height: 45px;
    width: 96px;
    background: #FFFFFF;
    border: 1px solid #989898;
    border-radius: 6px;
    border: 0;
    font-size: 18px;
    float: right;
}

button[type="summit"]:hover {
    cursor: pointer;
}

.label {
    display: grid;
    margin: -29px 12px 12px;
    padding: 0px 15px 0px 30px;
    width: 370px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #202020;
}
